{% extends 'core/base.html' %}

{% load static %}

{% block title %}Historia{% endblock %}

{% block content %}
<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/about.jpg' %}" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Tradición familiar</span>
              <span class="section-heading-lower">Nuestra historia</span>
            </h2>
           <P> Con la celebración de los Juegos Olímpicos en México, a mediados de 1968, llegó una ola de modernidad a nuestro país. 
           Este clima obligó a la gastronomía mexicana a innovarse y ofrecer nuevas propuestas en sus platillos. 
           Así, los tacos al pastor y tacos arabes empezaron a permear en la Ciudad de México, 
           especialmente en Calle 20 de Noviembre Nanacamilpa Tlaxcala, donde el 22 de mayo de 2020, 
           Taqueria Don Taco inauguró su primera sucursal, dirigida por el Ing. Mario Alberto Alonso </p>

          <p>Se trataba de un negocio familiar pequeño que sólo contaba con cuatro mesas, pero gracias al sello de calidad y buen servicio, 
          conquistó en poco tiempo la preferencia de los vecinos y transeúntes de la zona. 
          Pronto Don Taco asumió un estilo peculiar que lo diferenciaba de la competencia y en menos de lo esperado, 
          el espacio no fue suficiente para recibir a todos sus comensales y se ha expandido por distintas regiones del estado de Tlaxcala </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}